.social__list {
  list-style: none;
  text-align: center;
}

.footer__title {
  .reasons__headers(black);
}

.page-footer__copyright {
  .reasons__items(black);
}

.copyright__text {
  font-weight: normal;
}
