.gallery__titles {
  color: black;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  text-align: left;
  line-height: normal;
}

.photo-and-video__gallery {
  border-top: 1px solid rgb(229, 229, 229);
}

.photo-and-video__title {
  .default__header-font(black);
}

.photo-and-video__description {
  .default__item-font(black);
}

.gallery .gallery__title {
  .gallery__titles;
}

.gallery .gallery__author {
  font: @main-font;
  color: black;
  line-height: normal;
  text-align: center;
  font-weight: lighter;
}

.gallery .likes__count {
  color: black;
  font: @main-font;
  font-weight: bold;
  line-height: normal;
}

.gallery .gallery__likes {
  line-height: normal;
}

.presentation {
  border-top: 1px solid rgb(229, 229, 229);
}

.presentation .presentation-item__header {
  .default__header-font(black);
}

.presentation .presentation-item {
  .default__item-font(black)
}
.presentation .presentation-item__video {
  background-image: url("../img/video-mobile@1x.jpg");
}
